<footer class="site-footer">
  <div class="site-footer-content-wrapper">
    <p>
      &copy; <%= date(new Date(), 'YYYY') %> Paul Hayes &mdash; <a href="/contact">Contact</a>
    </p>
    <p>
      <a href="https://paulhayes.photography" rel="me">Photography</a>
      &bull;
      <a href="https://twitter.com/fofr" rel="me">Twitter</a>
      &bull;
      <a href="https://github.com/fofr" rel="me">Github</a>
      &bull;
      <a href="https://sam-and-paul.com" rel="me">Travel blog</a>
    </p>
    <p>
      <a href="https://p.urplehayes.com/">Purple Hayes Ltd</a>. VAT registration 291&nbsp;576&nbsp;276
    </p>
  </div>
</footer>
