<header class="masthead">
  <% if (is_home()) { %>
    <div class="h-card">
      <h1 class="site-title site-title--index p-name">
        Paul Hayes
      </h1>
      <div class="site-tagline caslon">
        <p class="p-note">I’m a frontend developer in <span class="p-locality">Brighton</span> &amp; London. I work at <a href="https://gds.blog.gov.uk/">Government Digital Service</a>, helping to build <a href="https://www.gov.uk">GOV.UK</a>. I’m a Rails developer, designer and user researcher too.</p>
        <p>I also enjoy <a href="https://paulhayes.photography">taking photos</a>.</p>
        <p><a href="/contact">Email me</a> or find me on <a href="https://twitter.com/fofr" class="u-url" rel="me">Twitter (@<b class="p-nickname">fofr</b>)</a> and&nbsp;<a href="https://github.com/fofr" class="u-url" rel="me" title="@fofr">Github</a>.</p>
      </div>
    </div>
  <% } else { %>
    <div>
      <a class="site-title" rel="home" href="/">
        Paul Hayes
      </a>
      <a href="https://twitter.com/fofr" class="masthead-twitter" rel="me">
        <img src="/images/twitter.png" width="32" height="32" alt="Follow @fofr on Twitter" title="Follow @fofr on Twitter" />
      </a>
    </div>
  <% } %>
</header>
