<header class="masthead">
  <% if (is_home()) { %>
    <div class="h-card">
      <h1 class="site-title site-title--index p-name">
        Paul Hayes
      </h1>
      <div class="site-tagline caslon">
        <p class="p-note">
          I’m a designer &amp; developer contractor in <span class="p-locality">Brighton</span>. I’ve worked on GOV.UK, Last.fm and Ocado. <a href="https://paulhayes.photography">I take photos too</a>.
        </p>
        <p><a href="/contact">Email</a> or <a href="https://twitter.com/fofr" class="u-url" rel="me">follow me on Twitter (@<b class="p-nickname">fofr</b>)</a> and&nbsp;<a href="https://github.com/fofr" class="u-url" rel="me" title="@fofr">Github</a>.</p>
      </div>
    </div>
  <% } else { %>
    <div>
      <a class="site-title" rel="home" href="/">
        Paul Hayes
      </a>
      <a href="https://twitter.com/fofr" class="masthead-twitter" rel="me">
        <img src="/images/twitter.png" width="32" height="32" alt="Follow @fofr on Twitter" title="Follow @fofr on Twitter" />
      </a>
    </div>
  <% } %>
</header>
