<%
  if (typeof type == "string") {
    posts = posts.filter(function(post) { return post.layout == type } );
  }
%>
<section class="listing clearfix">
  <ol>
    <% posts.forEach(function(post){ %>
        <%- partial('post-list-item', {post: post}) %>
    <% }) %>
  </ol>
</section>
