// Import settings first so we can override them before importing all of GOV.UK Frontend
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500;700&family=Inter:wght@400;700&display=swap');
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: "Inter", "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
$header-font-family: "Cabin", "Inter", "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

$govuk-global-styles: true;
$govuk-new-link-styles: true;

@import "govuk/all.scss";
@import "../_components/all.scss";
@import "vendor/prism.scss";

.app-footer {
  border-top: 10px solid #000;

  .govuk-footer__copyright-logo {
    display: none;
  }
}
