<% post = page %>
<main class="article article-note h-entry">
  <header class="article-header">
    <h1 class="main-content-title entry-title p-name">
      <span class="main-content-subtitle"><a href="/notes/">Notes</a> on</span>
      <%= page.title %>
    </h1>
  </header>
  <div class="article-meta" role="contentinfo">
    <%- partial('_partial/note/published') %>
    <%- partial('_partial/post/nav') %>
  </div>
  <div class="article-content entry-content e-content">
    <%- page.content %>
  </div>
</main>
